body {
    background-color: #002b36;
    background-image: url('rps.gif');
    background-size: cover;
}

.header  {
    display: flex;
    text-align: center;
    color: violet;
    text-shadow: 2px 2px blue;
    background-color: rgba(103, 58, 183, 0.5);
    justify-content: center;
    border-radius: 36px;
}

.container {
    padding-top: 10em;
    padding-left: 20em;
    padding-right: 20em;
    display: flex;
    justify-content: center;
    gap: 36px;
    color: #fdf6e3;
}

button {
    padding: 30px;
    text-align: center;
    margin: 60px;
    border-radius: 36px;
    border: 2px dashed black;
    color: white;
    transition-duration: 0.4s;
}

.button1:active, .button2:active, .button3:active, .button4:active {
    box-shadow: 2px 2px black !important;
    transform: translate(-2px, -2px) !important;
    transition-duration: 0s;
 }

.button1:hover {
    background-color:red !important; /* Green */
    color: black !important;
}

.button2:hover {
    background-color:white !important; /* Green */
    color: black !important;
}

.button3:hover {
    background-color:orange !important; /* Green */
    color: black !important;
}

.button4:hover {
    background-color:green !important; /* Green */
    color: black !important;
}
#result {
    text-align: center;
    padding: 36px;
    color: violet;
    text-shadow: 2px 2px blue;
    background-color: rgba(62, 35, 109, 0.5);
    height: 164px;
    border-radius: 36px;
    font-size: 32px;
    font-family: sans-serif;
}

.container2 {
    display: flex;
    justify-content: center;
}
